In [50]:
DATASET = "final_project"

In [39]:
##### SETUP DONE
HOST = "10.106.192.3"
USER = "root"
PW="onemoreweek"
DB="final_project"

In [40]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection

In [41]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f4041f4ea40>

In [54]:
import mysql.connector


connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS shopper'

create = '''CREATE TABLE shopper(
    cust_id MEDIUMINT NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    street_1 VARCHAR(100) NOT NULL,
    street_2 VARCHAR(100) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(14) NOT NULL,
    phone_2 CHAR(14)NOT NULL,
    email VARCHAR(44) NOT NULL, 
    PRIMARY KEY  (cust_id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped shopper table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created shopper table')
except Exception as e:
    print("Error occurred while creating shopper table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f40423aad40>
DROP TABLE IF EXISTS shopper
CREATE TABLE shopper(
    cust_id MEDIUMINT NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    street_1 VARCHAR(100) NOT NULL,
    street_2 VARCHAR(100) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(14) NOT NULL,
    phone_2 CHAR(14)NOT NULL,
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
)
Dropped shopper table
Created shopper table

In [43]:
state_code_mapping = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

In [56]:
import mysql.connector
from mysql.connector import Error
from faker import Faker

Faker.seed(33422)
fake = Faker()

# Update the connection parameters with your actual database credentials
db_config = {
    'host': "10.106.192.3",
    'database': "final_project",
    'user': "root",
    'password': "onemoreweek"
}

try:
    # Establish a connection to the MySQL server
    connection = mysql.connector.connect(**db_config)

    sql = "INSERT INTO shopper (cust_id, first_name, last_name, company, street_1, street_2, city, county, state, zip, phone_1, phone_2, email) \
           VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

    records = []

    for i in range(1, 51):
        cust_id = i
        first_name = fake.first_name()
        last_name = fake.last_name()
        company = fake.company()
        address = fake.address()[:100]
        address2 = fake.address()[:100]
        city = fake.city()
        county = fake.city()  
        state = fake.state()
        state_code = state_code_mapping.get(state, '')
        zip_code = fake.zipcode()  
        phone1 = fake.phone_number()[:14]
        phone2 = fake.phone_number()[:14]
        email = fake.email()
        web = fake.url()

       
        rec = (cust_id, first_name, last_name, company, address, address2, city, county, state_code, zip_code, phone1, phone2, email)
        records.append(rec)

    cursor = connection.cursor()

    # Execute the SQL query with the list of records
    cursor.executemany(sql, records)

    # Commit the changes to the database
    connection.commit()

    print('Wrote 50 records into the shopper table')
    
    sql_select = "SELECT * FROM shopper"

    # Execute the query
    cursor.execute(sql_select)



except Exception as e:
    print("Error occurred while writing records:", e)

Wrote 50 records into the shopper table