In [30]:
!mysql < sakila-database.sql

In [3]:
!mysql < sakila-data.sql

In [5]:
!mysql sakila -e "select count(*) as actor_rows FROM actor"

+------------+
| actor_rows |
+------------+
|        200 |
+------------+

In [6]:
!mysql sakila -e "select count(*) as address_rows FROM address"

+--------------+
| address_rows |
+--------------+
|          603 |
+--------------+

In [7]:
!mysql sakila -e "select count(*) as city_rows FROM city"

+-----------+
| city_rows |
+-----------+
|       600 |
+-----------+

In [8]:
!mysql sakila -e "select count(*) as country_rows FROM country"

+--------------+
| country_rows |
+--------------+
|          109 |
+--------------+

In [9]:
!mysql sakila -e "select count(*) as customer_rows FROM customer"

+---------------+
| customer_rows |
+---------------+
|           599 |
+---------------+

In [24]:
!mysql sakila -e "select * FROM actor limit 50, 3"

+----------+------------+-----------+---------------------+
| actor_id | first_name | last_name | last_update         |
+----------+------------+-----------+---------------------+
|       51 | GARY       | PHOENIX   | 2006-02-15 04:34:33 |
|       52 | CARMEN     | HUNT      | 2006-02-15 04:34:33 |
|       53 | MENA       | TEMPLE    | 2006-02-15 04:34:33 |
+----------+------------+-----------+---------------------+

In [13]:
!mysql sakila -e "select * FROM address limit 20, 4"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
|        6 | BETTE      | NICHOLSON    | 2006-02-15 04:34:33 |
|        7 | GRACE      | MOSTEL       | 2006-02-15 04:34:33 |
|        8 | MATTHEW    | JOHANSSON    | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [14]:
!mysql sakila -e "select * FROM city limit 30, 6"

+---------+-----------+------------+---------------------+
| city_id | city      | country_id | last_update         |
+---------+-----------+------------+---------------------+
|      31 | Arak      |         46 | 2006-02-15 04:45:25 |
|      32 | Arecibo   |         77 | 2006-02-15 04:45:25 |
|      33 | Arlington |        103 | 2006-02-15 04:45:25 |
|      34 | Ashdod    |         48 | 2006-02-15 04:45:25 |
|      35 | Ashgabat  |         98 | 2006-02-15 04:45:25 |
|      36 | Ashqelon  |         48 | 2006-02-15 04:45:25 |
+---------+-----------+------------+---------------------+

In [15]:
!mysql sakila -e "select * FROM country limit 100, 10"

+------------+----------------------+---------------------+
| country_id | country              | last_update         |
+------------+----------------------+---------------------+
|        101 | United Arab Emirates | 2006-02-15 04:44:00 |
|        102 | United Kingdom       | 2006-02-15 04:44:00 |
|        103 | United States        | 2006-02-15 04:44:00 |
|        104 | Venezuela            | 2006-02-15 04:44:00 |
|        105 | Vietnam              | 2006-02-15 04:44:00 |
|        106 | Virgin Islands, U.S. | 2006-02-15 04:44:00 |
|        107 | Yemen                | 2006-02-15 04:44:00 |
|        108 | Yugoslavia           | 2006-02-15 04:44:00 |
|        109 | Zambia               | 2006-02-15 04:44:00 |
+------------+----------------------+---------------------+

In [45]:
!mysql sakila -e "select * FROM customer limit 1, 10"

+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
| customer_id | store_id | first_name | last_name | email                               | address_id | active | create_date         | last_update         |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+
|           2 |        1 | PATRICIA   | JOHNSON   | PATRICIA.JOHNSON@sakilacustomer.org |          6 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           3 |        1 | LINDA      | WILLIAMS  | LINDA.WILLIAMS@sakilacustomer.org   |          7 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           4 |        2 | BARBARA    | JONES     | BARBARA.JONES@sakilacustomer.org    |          8 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           5 |        1 | ELIZABETH  | BROWN     | ELIZABETH.BROWN@sakilacustomer.org  |          9 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           6 |        2 | JENNIFER   | DAVIS     | JENNIFER.DAVIS@sakilacustomer.org   |         10 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           7 |        1 | MARIA      | MILLER    | MARIA.MILLER@sakilacustomer.org     |         11 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           8 |        2 | SUSAN      | WILSON    | SUSAN.WILSON@sakilacustomer.org     |         12 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|           9 |        2 | MARGARET   | MOORE     | MARGARET.MOORE@sakilacustomer.org   |         13 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          10 |        1 | DOROTHY    | TAYLOR    | DOROTHY.TAYLOR@sakilacustomer.org   |         14 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
|          11 |        2 | LISA       | ANDERSON  | LISA.ANDERSON@sakilacustomer.org    |         15 |      1 | 2006-02-14 22:04:36 | 2006-02-15 04:57:20 |
+-------------+----------+------------+-----------+-------------------------------------+------------+--------+---------------------+---------------------+

In [ ]:
# the query below returns the cities from the city table whose names start with 'A' or 'a' in ascending country id order

In [9]:
!mysql sakila -e "select city, country_id from city where city LIKE 'A%' order by country_id"

+-------------------------+------------+
| city                    | country_id |
+-------------------------+------------+
| Avellaneda              |          6 |
| Almirante Brown         |          6 |
| al-Manama               |         11 |
| Araatuba                |         15 |
| Aparecida de Goinia     |         15 |
| Anpolis                 |         15 |
| Angra dos Reis          |         15 |
| Alvorada                |         15 |
| Antofagasta             |         22 |
| Addis Abeba             |         31 |
| Athenai                 |         39 |
| Ambattur                |         44 |
| Allappuzha (Alleppey)   |         44 |
| Ahmadnagar              |         44 |
| Amroha                  |         44 |
| Adoni                   |         44 |
| Arak                    |         46 |
| Ashqelon                |         48 |
| Ashdod                  |         48 |
| Alessandria             |         49 |
| Akishima                |         50 |
| Acua                    |         60 |
| Atlixco                 |         60 |
| Allende                 |         60 |
| Amersfoort              |         67 |
| Apeldoorn               |         67 |
| Asuncin                 |         73 |
| Arecibo                 |         77 |
| Atinsk                  |         80 |
| al-Hawiya               |         82 |
| al-Qatif                |         82 |
| Abha                    |         82 |
| A Corua (La Corua)      |         87 |
| al-Qadarif              |         89 |
| Adana                   |         97 |
| Ashgabat                |         98 |
| Abu Dhabi               |        101 |
| al-Ayn                  |        101 |
| Arlington               |        103 |
| Akron                   |        103 |
| Augusta-Richmond County |        103 |
| Aurora                  |        103 |
| Aden                    |        107 |
+-------------------------+------------+

In [ ]:
# adds customer edward jacob by using insert commands

In [21]:
!mysql sakila -e "insert into customer(customer_id,store_id,first_name,last_name,email,address_id,active,create_date,last_update) values('978','1','Jacob','Edward','edwardjacob@sakilcustomer.org','14','2','2006-02-14 22:04:36','2006-02-15 04:57:20')"

In [ ]:
# Updates the second customer's first name to Stormi using update statements

In [22]:
!mysql sakila -e "update customer set first_name='Stormi' where customer_id=2"

In [29]:
# Deletes the record that was added above

In [28]:
!mysql sakila -e "delete from customer where customer_id=978"