### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [2]:
!bq --location=US mk --dataset $dataset_id

Dataset 'cs327e-fa2023:school_enrollments' successfully created.

#### 2. create and populate BQ tables:
##### Note: the load commands will run for a few minutes. Please be patient and wait for them to finish before moving onto step 3.

In [3]:
import os

In [4]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r6a557e118e61b824_0000018ac2859edc_1 ... (6s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r8c279f50ce89f2b_0000018ac285c566_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r5107c833e1a0db9e_0000018ac285e742_1 ... (48s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r6c1cbb86aa9d5fe8_0000018ac286b11b_1 ... (15s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r66e52aa1e03a7ede_0000018ac286f838_1 ... (4s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r6336a5e4f6521937_0000018ac2871510_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_r2d7821dee7e8219f_0000018ac2872958_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r40e0c1363a2661c2_0000018ac2874aae_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r36d977dd3083a371_0000018ac28767b6_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r38a791d3b0bb7360_0000018ac2878095_1 ... (8s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r7a686e62d67f98da_0000018ac287ac43_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_r6181a5cf475f7da1_0000018ac287c112_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r323d9143f798d2f4_0000018ac287d520_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job
'cs327e-fa2023:bqjob_r323d9143f798d2f4_0000018ac287d520_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r79e5347f6150c40d_0000018ac287e51e_1 ... (8s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r39c1e9e103951492_0000018ac2880f78_1 ... (2s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r71457bc30821c373_0000018ac288233d_1 ... (6s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r1d8e41034291480b_0000018ac28848dd_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r763d8417ad9e5bc2_0000018ac2886597_1 ... (10s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_rbe350fa2d35afe2_0000018ac28898a3_1 ... (34s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r3ff9f9a3f9dcfa04_0000018ac28929f4_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r141dfe2c0ea9e663_0000018ac2893e76_1 ... (5s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r3ba7346f79c3e58e_0000018ac2895f85_1 ... (2s) Current status: DONE

#### 3. Open the BQ UI and explore the schemas for the tables in the `school_enrollments` dataset. Also, preview the tables in the UI to see some sample data.

#### 4. Find school enrollments by school name, grade level, and year for Texas:

In [5]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

##### Note: Since the `total` column in the table is of type STRING, we needed to cast it to an INTEGER type before we can apply the `sum` function. Please see documentation on BQ's string functions, which include `cast()` and `replace()`: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

#### 5. Find school enrollments by school name, grade level, and year for Austin:

In [8]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

         school             grade  year  total
0     AKINS H S          grade_10  2020    720
1     AKINS H S          grade_10  2021    747
2     AKINS H S          grade_11  2020    664
3     AKINS H S          grade_11  2021    663
4     AKINS H S          grade_12  2020    609
...         ...               ...   ...    ...
1734  ZILKER EL           grade_5  2021     69
1735  ZILKER EL      kindergarten  2020     77
1736  ZILKER EL      kindergarten  2021     63
1737  ZILKER EL  pre_kindergarten  2020     30
1738  ZILKER EL  pre_kindergarten  2021     13

[1739 rows x 4 columns]

#### Project 4 marker. Add your work for Project 4 below this cell.

In [ ]:
# the number of schools in each Alaskan district sorted alphabetically district

In [1]:
%%bigquery
SELECT
    district,
    COUNT(*) AS dis_count,
FROM school_enrollments.ak
GROUP BY district
ORDER BY district;

Query is running:   0%|          |

Downloading:   0%|          |

                                district  dis_count
0                 Alaska Gateway Schools        288
1                Aleutian Region Schools         96
2         Aleutians East Borough Schools        160
3                      Anchorage Schools       3120
4                 Annette Island Schools        128
5                  Bering Strait Schools        512
6            Bristol Bay Borough Schools        128
7                        Chatham Schools        144
8                        Chugach Schools        160
9                   Copper River Schools        192
10                  Cordova City Schools        128
11                    Craig City Schools        160
12                  Delta/Greely Schools        192
13                Denali Borough Schools        160
14               Dillingham City Schools         96
15  Fairbanks North Star Borough Schools       1200
16                   Galena City Schools        160
17                Haines Borough Schools        128
18                   Hoonah City Schools         64
19                 Hydaburg City Schools         96
20                 Iditarod Area Schools        288
21                Juneau Borough Schools        512
22                     Kake City Schools         64
23                   Kashunamiut Schools         64
24       Kenai Peninsula Borough Schools       1376
25     Ketchikan Gateway Borough Schools        320
26                  Klawock City Schools         64
27         Kodiak Island Borough Schools        416
28                        Kuspuk Schools        320
29    Lake and Peninsula Borough Schools        448
30               Lower Kuskokwim Schools        944
31                   Lower Yukon Schools        368
32                Mat-Su Borough Schools       1536
33                       Mount Edgecumbe         64
34                   Nenana City Schools         96
35                   Nome Public Schools        160
36           North Slope Borough Schools        400
37      Northwest Arctic Borough Schools        448
38                  Pelican City Schools         64
39            Petersburg Borough Schools        128
40                      Pribilof Schools         96
41                  Saint Mary's Schools         64
42                 Sitka Borough Schools        224
43                       Skagway Schools         64
44              Southeast Island Schools        272
45              Southwest Region Schools        288
46                        Tanana Schools         64
47                 Unalaska City Schools         96
48                   Valdez City Schools        160
49                 Wrangell City Schools        128
50                  Yakutat City Schools         96
51                   Yukon Flats Schools        224
52                 Yukon-Koyukuk Schools        352
53                        Yupiit Schools        128

In [ ]:
# returns the number of schools in each Texas district sorted aphabetically by district

In [2]:
%%bigquery
SELECT
    district,
    COUNT(*) AS dis_count,
FROM school_enrollments.tx
WHERE district_state_id > 100
GROUP BY district
ORDER BY district;

Query is running:   0%|          |

Downloading:   0%|          |

                          district  dis_count
0     A W BROWN LEADERSHIP ACADEMY         58
1                       A+ ACADEMY         62
2           A+ UNLIMITED POTENTIAL         16
3                       ABBOTT ISD         60
4                    ABERNATHY ISD         71
...                            ...        ...
1192                  YORKTOWN ISD         68
1193                    YSLETA ISD        834
1194             ZAPATA COUNTY ISD        120
1195                   ZAVALLA ISD         66
1196                    ZEPHYR ISD         64

[1197 rows x 2 columns]

In [ ]:
# gives the number of schools in TX of each type, not including unclassified ones, in descending order

In [34]:
%%bigquery
SELECT
    ccd_school_type as school_type, count(*) as number
FROM school_enrollments.tx 
GROUP BY school_type
        HAVING school_type != ''
ORDER BY school_type DESC

Query is running:   0%|          |

Downloading:   0%|          |

                school_type  number
0  Special Education School      92
1            Regular School  109711
2        Alternative School    7707

In [ ]:
# counts the number of possible school pairings for a district in TX in descending order. Only includes the districts with less than 1000 combinations

In [56]:
%%bigquery
SELECT
tx.district, count(*) as total
FROM school_enrollments.tx as tx
JOIN school_enrollments.tx as tx2
    ON tx.district_nces_id = tx2.district_nces_id
WHERE tx.school <> tx2.school and tx.district = tx2.district and tx.district not in ('')
GROUP BY tx.district
HAVING total < 1000
ORDER BY total DESC

Query is running:   0%|          |

Downloading:   0%|          |

                               district  total
0                     ACADEMY OF DALLAS    968
1     ALIEF MONTESSORI COMMUNITY SCHOOL    968
2       AMBASSADORS PREPARATORY ACADEMY    968
3    AMIGOS POR VIDA-FRIENDS FOR LIFE P    968
4                  BEXAR COUNTY ACADEMY    968
..                                  ...    ...
97      RICHLAND COLLEGIATE HIGH SCHOOL     72
98   SAN ANTONIO PREPARATORY CHARTER SC     32
99       PROMESA ACADEMY CHARTER SCHOOL     32
100                 THE GATHERING PLACE     32
101    HOUSTON CLASSICAL CHARTER SCHOOL     18

[102 rows x 2 columns]

In [ ]:
# two school combinations that have the same hispanic student population sorted in ascending order. Only up to a maximum of 10 combinations

In [47]:
%%bigquery
SELECT
md.hispanic as hispanic_population, count(*) as combo_count 
FROM school_enrollments.md as md
JOIN school_enrollments.md as md2
    ON md.district_nces_id = md2.district_nces_id
WHERE md.school <> md2.school and md.hispanic = md2.hispanic and md.hispanic not in ('*', '')
GROUP BY hispanic_population
HAVING combo_count < 10
ORDER BY combo_count

Query is running:   0%|          |

Downloading:   0%|          |

    hispanic_population  combo_count
0                   171            2
1                   221            2
2                   252            2
3                   213            2
4                   107            2
..                  ...          ...
102                 165            6
103                 109            6
104                 204            6
105                 129            6
106                 114            6

[107 rows x 2 columns]

In [ ]:
# finds the average black population for each district in descending order with only the ones above 200 included

In [58]:
%%bigquery
SELECT 
md.district, AVG(CAST(md.black as numeric)) as average_black
FROM school_enrollments.md as md
WHERE md.black not in ('*', '')
GROUP BY md.district
HAVING average_black > 200
ORDER BY average_black DESC

Query is running:   0%|          |

Downloading:   0%|          |

            district  average_black
0            Charles  782.717948718
1     Baltimore City  740.532507740
2    Prince George's  722.850855746
3   Baltimore County  553.172307692
4           Wicomico  446.612244898
5               SEED  387.000000000
6             Howard  373.473684211
7         Dorchester  349.272727273
8           Somerset  348.066666667
9         Montgomery  342.416058394
10           Harford  317.589473684
11      Anne Arundel  314.206140351
12      Saint Mary's  238.814814815
13         Frederick  204.540540541

In [ ]:
# returns in descending order the total number of the asian population in each district as long as they have more than 100

In [63]:
%%bigquery
SELECT 
la.district, SUM(CAST(la.asian as numeric)) as total
FROM school_enrollments.la as la
WHERE la.asian not in ('*', '')
GROUP BY la.district
HAVING total > 100
ORDER BY total DESC

Query is running:   0%|          |

Downloading:   0%|          |

                                        district            total
0                               Jefferson Parish  27200.000000000
1                        East Baton Rouge Parish  18570.000000000
2                               Lafayette Parish   8948.000000000
3                               Calcasieu Parish   6486.000000000
4                                 Orleans Parish   6268.000000000
5                             St. Tammany Parish   6244.000000000
6                                   Caddo Parish   5460.000000000
7                                 Bossier Parish   4632.000000000
8                                  Iberia Parish   4442.000000000
9                                 Rapides Parish   3756.000000000
10                              Ascension Parish   3718.000000000
11                               Type 2 Charters   3294.000000000
12                                   All Orleans   3180.000000000
13                               Ouachita Parish   2948.000000000
14                             Livingston Parish   2922.000000000
15                              Vermilion Parish   2772.000000000
16                            Plaquemines Parish   2612.000000000
17                             Terrebonne Parish   2322.000000000
18                            St. Bernard Parish   2278.000000000
19                            St. Charles Parish   1616.000000000
20                              Lafourche Parish   1508.000000000
21                             Tangipahoa Parish   1266.000000000
22                               St. Mary Parish   1250.000000000
23                City of Monroe School District   1128.000000000
24                             St. Landry Parish    986.000000000
25                                Lincoln Parish    984.000000000
26                             St. Martin Parish    878.000000000
27                                 Vernon Parish    836.000000000
28             Zachary Community School District    754.000000000
29             Central Community School District    738.000000000
30                         LSU Laboratory School    646.000000000
31                                  Allen Parish    476.000000000
32  Louisiana School for Math Science & the Arts    438.000000000
33                                Webster Parish    384.000000000
34                             Beauregard Parish    336.000000000
35                              Concordia Parish    332.000000000
36                              Iberville Parish    330.000000000
37                           Natchitoches Parish    330.000000000
38                       West Baton Rouge Parish    254.000000000
39                                 DeSoto Parish    228.000000000
40                              Avoyelles Parish    226.000000000
41                             Evangeline Parish    216.000000000
42                   St. John the Baptist Parish    204.000000000
43                        Jefferson Davis Parish    198.000000000
44                                 Acadia Parish    188.000000000
45                             Assumption Parish    168.000000000
46                             Washington Parish    160.000000000
47                                 Sabine Parish    152.000000000
48              City of Bogalusa School District    136.000000000
49                              Red River Parish    128.000000000
50                         West Feliciana Parish    118.000000000
51                           West Carroll Parish    112.000000000
52                                Jackson Parish    102.000000000

In [ ]:
# selects in ascending order the school in each district with the largest male population, excluding districts where the largest had fewer than 1000 males and schools without name data

In [71]:
%%bigquery
SELECT 
la.district, la.school, MAX(CAST(la.male as numeric)) as largest
FROM school_enrollments.la as la
WHERE la.male not in ('*', '') and la.school !=''
GROUP BY la.district, la.school
HAVING largest > 1000
ORDER BY largest DESC

Query is running:   0%|          |

Downloading:   0%|          |

,district,school,largest
0,St. Tammany Parish,STPPS Virtual School,2203.000000000
1,Type 2 Charters,"University View Academy, Inc. (FRM LA Connecti...",1634.000000000
2,Ascension Parish,Dutchtown High School,1246.000000000
3,Ascension Parish,St. Amant High School,1100.000000000
4,Ouachita Parish,West Monroe High School,1081.000000000
5,St. Bernard Parish,Chalmette High School,1073.000000000
6,Jefferson Parish,John Ehret High School,1048.000000000
7,Calcasieu Parish,Alfred M. Barbe High School,1039.000000000
8,Calcasieu Parish,Sulphur High School,1038.000000000
9,Jefferson Parish,Kenner Discovery Health Sciences Academy,1018.000000000
10,Ascension Parish,East Ascension High School,1015.000000000